 <!-- 1.What are data structures, and why are they important? -->
ANSWER---DATA STRUCTURES ARE WAY ORGANIZING AND STORING DATA SO THAT IT CAN BE ACCESSED AND MODIFIED EFFICIENTLY.

THERE ARE VARIOUS TYPES OF DATA LIKE ARRAYS, LINKED LISTS, TREES , STACKS, QUEUES, HASH,, TABLES AND GRAPHS. EACH TYPE OF DATA STRUCTURE IS OPTIMIZING FOR SPECIFIC TASK..

2.  Explain the difference between mutable and immutable data types with examples

ANSWER--> THERE ARE TWO TYPES OF DATA IN PYTHON -- MUTABLE AND IMMUTABLE.
MUTABLE- VALUES CAN BE CHANGED AFTER CREATED.
   EXM--LISTS , DICTIONARIES, SETS

  IMMUTABLE- CAN'T BE CHANGED AFTER CREATED.
    EXM-- NUMBERS, STRING, TUPLES

3.  What are the main differences between lists and tuples in Python
ANSWER--contain different type of object and sore within square bracket,every element seperrate by comma and every element  contain unique position index which start from 0.

and TUPPLE-->it contain simila to list but its immutable object and stores within paranthesis.

4>> Describe how dictionaries store data
ANSWER>>>-Dictionary used to store data values is key:value pairs. dictionary is collection which is ordered changable and donot allow duplicate.

5>>  Why might you use a set instead of a list in Python
answer>>ordered element can accessed via their index number but sets donot have specific position.
ordered contain duplicate elements but set contain unique element.

6>>  What is a string in Python, and how is it different from a list
answer>> String can be combination of letters, numbers, special charecters. it can be declare in single, double or triple quotes. String are immutable.

Lists are most powerful data structure in python. lists are sequenced data types . a single list can contain string, integers, as well as other objects. and lists are mutable.

7>>  How do tuples ensure data integrity in Python

Answer-> Tuples make code more readable and convey data shold not be modified. This can help the developers understand the code and reduce risk of accidental data modification.

8>>  What is a hash table, and how does it relate to dictionaries in Python

Answer->> A data structure used to insert , look up, and remove key-value pairs quickly. It operrates on a hashing concept which help to insert each key ny a hash function into a distinct index in an array. The index function as a storage value. it maps the key with value.


9>>  Can lists contain different data types in Python
answer>>  Lists are flexible and can contain different type of elements. like integers, string, float and other in same list. for this flexibility lists is a powerful tool for handling variety of data.

10>>  Explain why strings are immutable in Python
 answer>> 1.String Efficiency- 2. Thread safety, 3.Hashing 4.Realibilty

 11>>  What advantages do dictionaries offer over lists for certain tasks
answer >> Dictionaries help maintain order making them great when sequence matters. Allow duplicates ideal for colllection wherre position is key, Quick elements be index perfect for iteraton and perfect for key value pairs.

12>>  Describe a scenario where using a tuple would be preferable over a list
 Answer>>
 When we want to ensure that data is not changed accidently. Tuples being immutable do not allow immutable do not allow any changes in this data.

 when we wantt faster access

 when we use data as a key in dictionary
 and as an element.

 13>>  How do sets handle duplicate values in Python
answer>> Sets are collection type that automatically handle dupicate values by ensuring that each elements are uique. when we add element to a set duplicates are automatically removed.

14>>  How does the “in” keyword work differently for lists and dictionaries
 answer>> The in operator works in dictionary for the presence of the key. and for lists in operator works as a finder of single element or object in a single list or multiple elements lists in a neste and use as a operator with if statement.

 15>>  Can you modify the elements of a tuple? Explain why or why not
answer--> A tuple in python is immutable and ordered collection of items. the main difference with list is once it created it can't be change. This immutabilty makes them more faster and memory efficient which is important for big data-base.


16>>  What is a nested dictionary, and give an example of its use case
answer>>- Nesting dictionay menas putting a dictionary in another dictionary.

In [ ]:
nested_dict = { "dict1" : {"key_a" : "value_a"},#example of nested dictionary
                "dict2" : {"key_b" : "value_b"}}
print(nested_dict)

{'dict1': {'key_a': 'value_a'}, 'dict2': {'key_b': 'value_b'}}

17>  Describe the time complexity of accessing elements in a dictionary
answer>- The timecomplexity of retriving a value is its key in a dictinary allows consstant time look up.

18>>  In what situations are lists preferred over dictionaries
 answer.>> In dicionaries lists are ideal ordered collections , sequential processing and simple data storage.

 19>>  Why are dictionaries considered unordered, and how does that affect data retrieval
answer>- altough dictionaries preserved insertetion order starting from Python 3.7 their keys are unordered meaning you can't index or sliced them like oredered structures. Element are stored and retrived in the oredered insertetion . NO guranteee order of elements.

20>. Explain the difference between a list and a dictionary in terms of data retrieval.
answer>-- lists are ordered collection of items.,, elements are accessed using their index,,, allows duplicate values.

and dictionarys are unordered collection of key value pairs,,elemensts are accesed using keys,, and keys must be unique and values can  be of any data type.

In [ ]:
#practicla question
#1>> Write a code to create a string with your name and print it
# Creating a string with my namename = "ChatGPT"
name = "ChatGPT"
# Printing the string
print(name)

ChatGPT

In [ ]:
# Define the string
my_string = "hello world"
length_of_string = len(my_string)

print("The length of the string is:", length_of_string)

TypeError: 'str' object is not callable

In [ ]:
# Write a code to slice the first 3 characters from the string "Python
# Programming"
string = "Python_Programming"
sliced_string = string[:3]

print(sliced_string)

TypeError: 'str' object is not callable

In [ ]:
# prompt:  Write a code to convert the string "hello" to uppercase

# String to uppercase
my_string = "hello"
uppercase_string = my_string.upper()
uppercase_string

'HELLO'

In [ ]:
# prompt:  Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
new_text

'I like orange'

In [ ]:
# prompt:  Write a code to create a list with numbers 1 to 5 and print it

my_list = list(range(1, 6))
my_list

[1, 2, 3, 4, 5]

In [ ]:
# prompt:  Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [ ]:
# prompt:  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [ ]:
# prompt:  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
second_element

'b'

In [ ]:
# prompt:  Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
reversed_list

[50, 40, 30, 20, 10]

In [ ]:
# prompt: 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

# Create a tuple with elements 100, 200, and 300
my_tuple = (100, 200, 300)

# Print the tuple
my_tuple

(100, 200, 300)

In [ ]:
# prompt:  12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
second_to_last

'blue'

In [ ]:
# prompt:  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
min_number

5

In [ ]:
# prompt:  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
index_of_cat

1

In [ ]:
# prompt:  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

TypeError: 'str' object is not callable

In [ ]:
# prompt:  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [ ]:
# prompt:  17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [ ]:
# prompt:  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [ ]:
# prompt:  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [ ]:
# prompt:  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
intersection_set

{2, 3}

In [ ]:
# prompt:  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "kazi", "age": 23, "city": "kolkata"}
my_dict

{'name': 'kazi', 'age': 23, 'city': 'kolkata'}

In [ ]:
# prompt:  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# prompt:  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
name_value

'Alice'

In [ ]:
# prompt:  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# prompt:  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

TypeError: 'str' object is not callable

In [ ]:
# prompt:  26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3, "hello", 3.14]

# Create a tuple
my_tuple = (4, 5, 6, "world", 2.71)

# Create a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

TypeError: 'str' object is not callable

In [ ]:
# prompt: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
random_numbers

[39, 40, 42, 61, 61]

In [ ]:
# prompt: 28. Write a code to create a list with strings and print the element at the third index.

# Create a list with strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (index 3)
string_list[3]

'date'

In [ ]:
# prompt:  29. Write a code to combine two dictionaries into one and print the result.

def combine_dictionaries(dict1, dict2):
  """Combines two dictionaries into one.

  Args:
    dict1: The first dictionary.
    dict2: The second dictionary.

  Returns:
    A new dictionary containing all key-value pairs from both input dictionaries.
    If a key exists in both dictionaries, the value from dict2 will override the value from dict1.
  """
  combined_dict = dict1.copy()  # Create a copy to avoid modifying the original dict1
  combined_dict.update(dict2)  # Update with key-value pairs from dict2
  return combined_dict

# Example usage
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4, 'b': 5}  # Note: Key 'b' exists in both

combined = combine_dictionaries(dict1, dict2)
print(combined)  # Output: {'a': 1, 'b': 5, 'c': 3, 'd': 4}

TypeError: 'str' object is not callable

In [ ]:
# prompt:  30. Write a code to convert a list of strings into a set.

def string_list_to_set(string_list):
  """Converts a list of strings to a set.

  Args:
    string_list: A list of strings.

  Returns:
    A set containing the unique strings from the input list.
  """
  return set(string_list)

# Example usage
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = string_list_to_set(my_list)
print(my_set)

TypeError: 'str' object is not callable